#continer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#item{
	
	text-align: center;
}
body{
	background: url(b.jpg);
	font-family: 'Lato', sans-serif;
}
p{
	color: red;
	font-size: 50px;
	
}
span{
	color: white;
	font-size: 30px;
}
#red{
	color: red;
}
#blue{
	color: blue;
}
#result{
	color: white;
	font-size: 30px;
}
input[type=button]{
	width: 150px;
	height: 150px;
	font-size: 100px;
	margin-bottom: 5px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0px black;
	cursor: pointer;
	text-shadow: 2px 2px black;
}
input[type=button]:hover{
	background-color: lightgreen;
}
#restart{
	width: 150px;
	height: 50px;
	border: none;
	background: red;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0px black;
	cursor: pointer;
}
#restart:hover{
	background: #FF585B;
}